.cart {
  position    : relative;
  padding     : 9px 16px;
  padding-left: 48px;
  font-weight : 600;
  font-size   : 13px;
  line-height : 18px;

  @media(max-width:1200px) {
    order: 4;
  }

  @media(max-width:900px) {
    font-size       : 0;
    border          : 1px solid $c-red;
    border-radius   : 4px;
    background-color: transparent;
  }
  &.link--bg-red:hover {
    @media(max-width: 900px) {
      background-color: transparent;
    }
  }

  &::after {
    content   : "";
    position  : absolute;
    top       : 50%;
    left      : 16px;
    transform : translateY(-50%);
    width     : 24px;
    height    : 24px;
    background: transparent url("../img/svg/icon-cart.svg") no-repeat center center/contain;

    @media(max-width:900px) {
      width     : 29px;
      height    : 30px;
      background: transparent url("../img/svg/icon-cart-mobile.svg") no-repeat center center/contain;
    }
  }
}